html, body {
  overflow-x: hidden;
  overflow-y: scroll;
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#messages li {
  padding: 5px 10px;
}

.bufferbox .item.buffer {
  padding-left: 25px;
}

.buffercolumn {
  margin-right: -20px;
}

.usercolumn {
  float: right;
  margin-right: -22px;
}

.messagecolumn {
  margin-left: 20px;
}

.highlight {
  background-color: #fffbe6 !important;
}

.self {
  background-color: #eee !important;
}

.row.fullheight {
  height: 100%;
}

.row.fullheight .column {
  height: 100%;
}

.row.fullheight .column .segment {
  height: 100%;
}

.row.fullheight .column .segment .messagebox {
  height: 90vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

.row.fullheight .column .userbox {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
}

.row.fullheight .column .bufferbox {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
}

.userbox .item .item {
  padding: 3px;
}

.nick {
  opacity: 0.7;
}

small {
  color: gray;
}

.monospaced {
  font-family: Courier;
  white-space: pre;
}
